<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Modify Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/webjars/org.webjars.bower/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js"
            th:src="@{/webjars/wisvch-bootstrap-theme/0.0.3/dist/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Modify password</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <div class="alert alert-success" role="alert" th:unless="${#strings.isEmpty(message)}">
        <p th:text="#{${message}}">Success message</p>
    </div>

    <!--/*@thymesVar id="modifyPasswordRequest" type="ch.wisv.password.model.ModifyPasswordRequest"*/-->
    <form action="#" th:action="@{/}" th:object="${modifyPasswordRequest}" class="form-horizontal" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error message</li>
            </ul>
        </div>

        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{username}" class="form-control" placeholder="Username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="currentPassword" class="col-sm-4 control-label">Current password</label>
            <div class="col-sm-6">
                <input type="password" th:field="*{currentPassword}" class="form-control"
                       placeholder="Current password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword1" class="col-sm-4 control-label">New password</label>
            <div class="col-sm-6">
                <input type="password" th:field="*{newPassword1}" class="form-control" placeholder="New password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword2" class="col-sm-4 control-label">New password again</label>
            <div class="col-sm-6">
                <input type="password" th:field="*{newPassword2}" class="form-control"
                       placeholder="New password again"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-6">
                <input type="submit" class="btn btn-primary" value="Modify password"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>
